* {
    font-family: 'Roboto', sans-serif;
    background-color: #1f2937;
    margin: 10px 0px;
    /* border: 2px solid red; */
}

header {
    font-family: 'Roboto', sans-serif;
    color: #F9FAF8;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 96px 0 96px;
    
}

#headerlogo {
    margin-right: auto;
    
}

header li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
    
}

header a {
    text-decoration: none;
    color: #F9FAF8;
}

.main-container {
    /* border: 2px solid red; */
    display: flex;
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 150px 96px;
    margin-bottom: 0px;
    padding: 0px;
    
}

.main-container p {
    font-size: 18px;
    color: #bebebe;
    font-weight: 100;
    margin-top: 10px;
}

.image {
    background-color: darkgray;
    margin-left: 200px;
    width: 700px;
    text-align: center;
    font-size: 16px;
}

.main-container button {
    /* border: 2px solid red; */
    display: flex;
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    border-radius: 5px;
    padding: 8px 28px;
    font-weight: bold;
}

.info-container {
    display: flex;
    justify-content: center;
    background-color: #F9FAF8;
    margin-top: 100px;
    margin-bottom: 0px;
}

.info-container h1 {
    background-color: #F9FAF8;
    color: #1f2937;
    font-size: 36px;
    margin-top: 50px;
}

.sub-images {
    display: flex;
    justify-content: center;
    background-color: #F9FAF8;
    margin-top: 0px;
    margin-bottom: 0px;
}

.sub-images div {
    background-color: #F9FAF8;
    border: 3px solid #3882F6;
    height: 150px;
    width: 150px;
    margin: 50px 25px 5px;
    border-radius: 10px;
 }

 .sub-text {
     display: flex;
     justify-content: center;
     align-items: flex-start;
     background-color: #F9FAF8;
     margin-top: 0px;
     margin-bottom: 0px;
 }
 
 .sub-text p {
    background-color: #F9FAF8;
    height: 150px;
    width: 150px;
    margin: 5px 29px;
    color: #757575;
    text-align: center;
 }
 
 .quote {
     /* border: 2px solid red; */
     display: inline-block;
     justify-content: center;
     background-color: #E5E7EB;
     margin-top: 0px;
     margin-bottom: 0px;
 }

 .quote .quote-text {
     /* border: 2px solid red; */
     background-color: #E5E7EB;
     font-size: 36px;
     font-style: italic;
     padding: 100px 400px 0px;
     font-weight: lighter !important;
     color: #1f2937;
 }

 .thor {
    background-color: #E5E7EB;
    color: #1f2937;
    font-weight: bold;
    margin-left: 65%;
    font-size: 18px;
    margin-bottom: 100px;
 }

.bottom-container {
    background-color: #F9FAF8;
    display: flex;
    justify-content: center;
    margin-top: 0px;
    /* flex: row wrap; */
    

}


.blue-box {
    display: flex;
    background-color: #3882F6;
    width: 700px;
    color: #F9FAF8;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 25px 50px;
    border-radius: 10px;
    margin-top: 75px;
    margin-bottom: 75px;
}

.blue-box :first-child {
    /* border: 2px solid red; */
    align-self: center;
    background-color: #3882F6;
}

.blue-box .text{
    color: #ffffff;
    background-color: #3882F6;
    width: fit-content;
    font-weight: bold;
    margin-bottom: 10px;
}

.blue-box p{
    color: #ffffff;
    background-color: #3882F6;
    width: fit-content;
    font-weight: 500;
    margin-top: 5px;
}

.blue-box button {
    display: flex;
    justify-content: right;
    background-color: #3882F6;
    margin-top: 20px;
    border: #F9FAF8 solid;
    color: #F9FAF8;
    border-radius: 10px;
    padding: 5px 25px;

    
}

footer {
    display: flex;
    justify-content: center;
    color: #F9FAF8;
    margin-top: 10px;
    align-items: center;
    height: 35px;
}
